<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675821767908-m0a04u15s0g05qeh3kmnstrev3i1f7b7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675821767908-m0a04u15s0g05qeh3kmnstrev3i1f7b7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>675821767908-8p2bm6b4u0n5olesuc5khdve7nh1ocbv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyABYIMeV8Lf_8WXxdewaF__8SC_pC-Jj1M</string>
	<key>GCM_SENDER_ID</key>
	<string>675821767908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cricketapp</string>
	<key>PROJECT_ID</key>
	<string>myfirebaseproject-344ec</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirebaseproject-344ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675821767908:ios:98f8d21704bd127560b0f1</string>
	<key>DATABASE_URL</key>
	<string>https://myfirebaseproject-344ec-default-rtdb.firebaseio.com</string>
</dict>
</plist>